// main: ../style.scss

.present {
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;

    @include w-1024 {
        width: 35%;
    }

    @include w-768 {
        width: 100%;
        min-height: 80px;
    }

    // .present__logo

    &__logo {
        width: 120px;
        margin: 30px 0 0 30px;
    }
}
