// main: style.scss

//colors
$background: #EFF6FF;
$base-font: #2A4A5C;
$fb-button: #255A9B;
$in-button: #0076B6;
$blue: #3698FB;
$dark-grey: #7B8A92;
$middle-grey: #96A5B1;
$grey: #AFAFAF;
$ligth-grey: #EEEEEE;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);

//fonts
$barlow: "Barlow", "Arial", "sans-serif";

//viewports

$mon: 1365px;
$s-mon: 1024px;
$tb: 768px;
$mob: 320px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// timers


// Animation
$t-anim: 0.3s;

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);